<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>FSHM -Signature campaign against BJP Privacy violation</title>
  </head>
  <body>
    <div class="container">
      <div class="col align-self-center">
        <h1>Signature Campaign against BJP for violating privacy of puducherry voters</h1>
        <form action="" method="post" role="form">
          {{ form.csrf }}
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?" required>
          </div>

          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you." required>
          </div>

          <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
	{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for message in messages %}
              {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                  <strong>Success! </strong> {{ message[1] }}
		</div>
              {% endif %}

              {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                  {{ message[1] }}
		</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
